# Specify the default character set
AddDefaultCharset utf-8

# Disable the server signature
ServerSignature Off

# Disable ETags
FileETag none

<IfModule mod_deflate.c>
	<IfModule mod_setenvif.c>
		SetOutputFilter DEFLATE
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4\.0[678] no-gzip
		BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
		SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
		Header append Vary User-Agent env=!dont-vary
	</IfModule>
</IfModule>


<IfModule mod_env.c>
	SetEnv TZ America/Sao_Paulo
</IfModule>
